/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
nav[b-jfonhjcamy], .fuente[b-jfonhjcamy]{
  font-family: "Teko", sans-serif;
  font-optical-sizing:initial;
  font-weight: 400;
  font-style: normal;
}
nav[b-jfonhjcamy]{
  width: 100%;
  height: auto;
}

header[b-jfonhjcamy]{
  width: auto;
  margin-bottom: 0;
}

body[b-jfonhjcamy]{
  margin:0;
  height: 100%;
}


.container-fluid h1[b-jfonhjcamy]{
  color: white;
  font-style: NONE;
  margin-right: 2%;
}
.container-fluid[b-jfonhjcamy]{
  margin-left: 2%;
}
.nav-item h3:hover[b-jfonhjcamy]{
  color: rgb(218, 218, 218);
}
.nav-item[b-jfonhjcamy]{
  margin-left: 4%;
  font-size: larger;
}


a.navbar-brand[b-jfonhjcamy] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jfonhjcamy] {
  color: #0077cc;
  margin-left: 0;
}

.btn-primary[b-jfonhjcamy] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jfonhjcamy], .nav-pills .show > .nav-link[b-jfonhjcamy] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jfonhjcamy] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jfonhjcamy] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jfonhjcamy] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jfonhjcamy] {
  font-size: 1rem;
  line-height: inherit;
}


.footer[b-jfonhjcamy] {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Fondo negro */
  color: white;
  margin-top: 10%;
}

.footer-content[b-jfonhjcamy] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.footer img[b-jfonhjcamy]{
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.vertical-hr[b-jfonhjcamy] {
  border: none;
  border-left: 2px solid white;
  height: 150px;
  margin-right: 20px;
}

.links[b-jfonhjcamy], .social-icons[b-jfonhjcamy], .copy[b-jfonhjcamy] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.links p[b-jfonhjcamy], .copy p[b-jfonhjcamy] {
  margin: 5px 0;
}

.social-icons[b-jfonhjcamy] {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social-icons svg[b-jfonhjcamy] {
  margin-bottom: 10px;
  color: white;
  fill: currentColor;
}

footer p:hover[b-jfonhjcamy]{
  text-decoration: underline;
}

.footer-text[b-jfonhjcamy] {
  color: white;
}