-- Ejecutar esto

CREATE DATABASE JJOO;

-- Luego esto

USE JJOO;

CREATE TABLE Paises(
IdPais INT NOT NULL PRIMARY KEY IDENTITY(1, 1),
Nombre VARCHAR(200) NOT NULL,
Bandera TEXT NOT NULL,
FechaFundacion date NOT NULL DEFAULT '01-01-2000'
);

CREATE TABLE Deportes(
IdDeporte INT NOT NULL PRIMARY KEY IDENTITY(1, 1),
Nombre VARCHAR(200) NOT NULL,
Foto TEXT NOT NULL
);

CREATE TABLE Deportistas(
IdDeportista INT NOT NULL PRIMARY KEY IDENTITY(1, 1),
Apellido VARCHAR(200) NOT NULL,
Nombre VARCHAR(200) NOT NULL,
FechaNacimiento DATE NOT NULL,
Foto TEXT NOT NULL,
IdPais INT NOT NULL FOREIGN KEY REFERENCES Paises(IdPais),
IdDeporte INT NOT NULL FOREIGN KEY REFERENCES Deportes(IdDeporte)
);


