<section class="creditos">
     
     <div><img src="../img/banner4.jpg"  class="banner" alt=""></div>

     <div class="contenedor-info"> 
        <div class="titulo-info">
            <h1>Creditos</h1>
        </div>
        <hr>    

        <div class="contenedor">
            <div class="desarrolladores">
                <img src="../img/tute.jpg" alt="">
                <h2>TUTE</h2>
            </div>
            
            <div class="desarrolladores">
                <img src="../img/chechu.jpg" alt="">
                <H2>CHECHU</H2>
            </div>

            <div class="desarrolladores">
                <img src="../img/ciro.jpg" alt="">
                <H2>CIRO</H2>
            </div>
        </div>



    </div>


</section>