<body class="deportes">


    <main>
        @for(int i = 0; i < ViewBag.ListaDeportes.Count; i++)
        {
            @ViewBag.ListaDeportes[i].Nombre;
            //<img src="../img/" + ViewBag.ListaDeportes[i].Foto alt="">
        }
        
    
    </main>



</body>