@{
    ViewData["Title"] = "Home Page";
}

<body class="index">

    <main>    
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="../img/apertura.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="../img/globo.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="../img/clausura.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>

        <section class="contenedor-info">
            <h1>MEDALLERO:</h1>
            <hr>
            <div class="medallero">
                <img src="../img/medallero.png" alt="">
            </div>
        </section>

        <section class="contenedor-info">
            <h1>NOVEDADES:</h1>
            <hr>
            <div class="noticias">
                <div class="card bg-dark" style="width: 18rem;">
                    <img src="../img/maligno.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">"El maligno", el Argentino que se quedó con la medalla dorada de BMX</p>
                    </div>
                </div>

                <div class="card bg-dark" style="width: 18rem;">
                    <img src="../img/duplantis.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">"Armand Duplantis y su nuevo record mundial en salto con garrocha</p>  
                    </div>
                </div>

                <div class="card bg-dark" style="width: 18rem;">
                    <img src="../img/morroco.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">"Se terminó el sueño olímpico marroquí traz su derrota ante españa</p>
                    </div>
                </div>

            </div>
        </section>


    </main>



</body>