


        <div><img src="../img/banner2.png"  class="banner" alt=""></div>


        <div class="contenedor-info">
            <h1 class="fuente">Nuestras delegaciones participantes</h1>
            <hr>
            <div class="columnas"> 
                @for(int i = 0; i < ViewBag.ListaPaises.Count; i++)
                {   

                    <div class="card" style="width: 18rem;">
                        <a href='@Url.Action("VerDetallePais", new {idPais = ViewBag.ListaPaises[i].IdPais})'><img src="@Url.Content($"{ViewBag.ListaPaises[i].Bandera}")" alt="bandera"  alt="paises" class="card-img-top" alt="logp_deporte"></a>
                        <div class="card-body">
                            <h3 class="card-title">@ViewBag.ListaPaises[i].Nombre</h3>
                            <p class="card-text"> @ViewBag.ListaPaises[i].FechaFundacion.ToString("dd/MM/yyyy") </p>
                            
                        </div>
                    </div>


                }
            </div>
        </div>

        
    


